name: Deploy CMS

on:
  push:
    branches:
      - main
    paths:
      - 'apps/cms/**'
      - 'packages/**'
      - '.github/workflows/deploy-cms.yml'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
        
      - name: Login to Oracle Container Registry
        run: echo "Login logic"

      - name: Build and push CMS
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # v5
        with:
          context: .
          file: infra/docker/CMS.Dockerfile
          push: true
          tags: cms:latest
